body {
	color:#fff;
	background:#5B5E58;
	font-family:arial;
	width:960px;
	margin:auto;
}


header, main, footer {
	clear:both;
	margin-left:0;
	width:960px;
	
}

header, main h1 {
	color:green;
	font-size:25px;
}

a, a:visited {
	color:blue;
	font-family:Arial;
	text-decoration:none;
}

a:hover {
	color: green;
	text-decoration: none;
}

#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:inline-block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	border: 3px solid white;
	border-radius:10px;
}

#menu {
	width:150px;
	display:inline-block;
	float:left;
	margin-left:-40px;
	}

#menu ul {
	list-style: square;
	float:left;
	margin-left:0;
	border-right: 2px solid green;
	}
	
#menu li {
	width: 125px;
	padding:5px;
	margin-bottom:10px;
	font-size:15px;
	}
	
article {
	width:800px;
	display: block;
	float:right;
	}
